.login {
    margin-top: 70px;
    height: 100vh;
    text-align: center;
}

.login h1 {
    color: #ac3b61;
    font-style: italic;
}

.card-signin {
    border: none;
    background-color: #ac3b61;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
    color: white;
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}

.card-signin .card-body {
    padding: 2rem;
}

.form-signin {
    width: 100%;
}

.form-signin .btn {
    font-size: 80%;
    margin: 10px;
    border-radius: 2.5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem 2rem;
    transition: all 0.2s;
}

.form-label-group {
    color: white;
    text-align: left;
}

.form-label-group input {
    height: 40px;
    width: 80%;
    margin: auto;
}