header .navbar {
    background-color: #ac3b61;
}

.logo {
    font-weight: bold;
    color: white;
    font-size: 24px;
    letter-spacing: 1.2;
    padding: 8px 12px;
    border: 1px solid whitesmoke;
}

.nav-link {
    color: #f5f5f5;
    border-bottom: 3px solid transparent;
}

.nav-item {
    padding: 0px 12px;
}

.nav-link:hover {
    border-bottom: 3px solid white;
    color: white;
}

.nav-link.active {
    border-bottom: 3px solid white;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}